
header{
    background-color: #4c8577;
    text-align: left; 
    color: white;  
}
nav a {
    color: white;
    text-decoration: none;
}
img.logo{
    width: 5%;
}
body{
    text-align: center;
   
}

img.hero-img{
    width: 500px;
}
#hero-img{
    width:100%;
}
nav a.book{
    text-decoration: none;
    color: #e2df08;
}
.book, .join {
    background-color: #12c1d8;
    color: black;
    text-decoration: none;
    }

.book:hover, .join:hover {
    background-color: #31a9b9;
    color: #fcfbfb;
}


section.msg{
    color: #e2df08;
    background-color: #4c8577;
}
nav a.join{
    text-decoration: none;
    color: white;
}
footer a{
    text-decoration: none;
    color: e2df08;
}
footer{
    
    color: #e2df08;
    text-align: left;
    background-color: #4c8577;
}