
/**/
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

/*Start Nav.*/
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #09b8b8;
    text-align: left; 
    color: white;  
    font-family: 'Stick No Bills';
    padding: 0px 0px;
    margin-top: 0px;
    
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav a {
    color: white;
    text-decoration: none;
    padding: 30px;
    padding-top: 30px;
    

}

nav a:hover{
    color: black;
}
img.logo{
    width: 80px;
    padding: 15px 15px;
    margin-top: 0px;
}
/*End Nav.*/

body{
    text-align: center;
    font-family: 'Signika Negative';
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/*Start Main title picutre*/

img.hero-img{
    width: 500px;
}
#hero-img{
    width:100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
h1.home-title{
    font-family: 'Stick No Bills';
    color: #e2df08;
    font-size: 3em;
}
/*End Main Title picture*/

/*Pictures*/

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountain {
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;  
}
.camping-card{
    grid-column: 5/7 ;
    grid-row: 2/3 ;
}
.rapids-card{
    grid-column: 8/10 ;
    grid-row: 2/3 ;
}

#background {
    height: 725px;
    background-color: #31a9b9;
    grid-column: 1/11 ;
    grid-row: 4/9 ;
}

.mountains{
    grid-column: 2/7 ;
    grid-row: 5/8  ; 
}

.msg{
    grid-column: 6/10 ;
    grid-row: 6/7 ;
}
/*End Pictures*/

/*Start mountain text*/
img.mountains{
    text-align: left;
}

nav a.book{
    text-decoration: none;
    color: #e2df08;
}
.book, .join {
    background-color: #12c1d8;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    }

    .card-img {
        border: 10px solid #4c8577;
    }

    .card-img {
        border: 10px solid #4c8577;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
    }
    .card-img:hover {
        opacity: .6;
        transform: scale(1.1);
    } 

    main section img {
        box-sizing: border-box;
    }

    .msg {
        background-color: #6f7364;
        padding: 35px;
        grid-column: 6/10;
        grid-row: 6/7;
        box-shadow: 5px 5px 10px #6f7364;
    }
    .mountains {
        grid-column: 2/7;
        grid-row: 5/8;
        box-shadow: 5px 5px 10px #6f7364;
    }

.book:hover, .join:hover {
    background-color: #31a9b9;
    color: #fcfbfb;
}
/*End Mountain Text*/

/*Start Footer*/
section.msg{
    color: #e2df08;
    background-color: #4c8577;
}
nav a.join{
    text-decoration: none;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer{
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e2df08;
    text-align: left;
    background-color: #4c8577;
}
/*End Footer*/

/*Media Screen Start*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
/*Media Screen End*/